
.formright {
    float: right;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 40px;
    opacity: 0.8;
}

.person:hover {
    border-color: #f1f1f1;
    opacity: 1;
}

.thoughts {
    width: 400px;
    height: 100px;
    background-color: #A9ADAD;
    color: #111111;
    border-color: #2d2d30;
    border-radius: 6px;
    opacity: 0.7;
    padding: 10px;
    transition: 1.0s ease-out;
}
.thoughts:hover {
    background-color:#dddddd;
    font-size: large;
}

.person-name {
    margin-top: 10px;
}

.right {
    margin: 20px;
}

.card-right {
    background-color:#f2f2f2 !important;
}

.view-title {
    margin-top: 10px;
    color: #2d2d30;
}
.hidden {
    visibility: hidden;
    display: none;

}

.pname {
    color: #111111 !important;
}

.card-img {
    width: 200px !important;
    height: 200px !important;
    align-self: center !important;
    padding: 40px;
}

.formtext {
    padding:40px;
    margin: 2px;
    border-radius: 6px;
    background-color: #29292c;
}

.nav-item:hover{
     background-color: #9299a0;
}

.uphidden {
    visibility: hidden;
    display: none;
}

.body-back {
    background: url("img/view_back2.jpg");
}

.foropacity {
    opacity: 0.9;
    font-size: large;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: red;
    margin-left: 10px;
}
.footer {
    position: fixed!important;
    left: 0;
    bottom: 0!important;
    width: 100%;
    text-align: center;
}
input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
